html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(45deg, #e6e6fa, #a6a6ed);
  background-repeat: no-repeat; */
  background-color: #dadafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
